<div class="container">

    <a ui-sref="blog.articles.edit" class="btn btn-primary">New Article</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="article in articlesService.articles">
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td><div class="glyphicon glyphicon-remove clickable" ng-click="deleteArticle(article.id)"></div></td>
        </tr>
        </tbody>
    </table>
</div>
